# requirements.txt

pyyaml==6.0.2
tensorflow-macos==2.13.0
tensorpack==0.11
tf-slim==1.1.0
deeplabcut[gui,tf]==2.3.11

numpy==1.24.3
pandas==2.0.3
opencv-python==4.8.0.76
matplotlib==3.7.3
scikit-learn==1.5.1
scikit-image==0.21.0
scipy==1.10.1
tqdm==4.67.1
statsmodels==0.14.1
pytables==3.8.0
h5py==3.11.0
